In [21]:
import sqlite3

In [22]:
conn = sqlite3.connect('test1.db')

In [23]:
cur = conn.cursor()

In [24]:
who="Macbeth2"
age = 18

cur.execute("insert into people2(name_last, age) values(?, ?)", (who,age))

OperationalError: no such table: people2

In [5]:
print(cur.fetchone())

None

In [6]:
sql = "insert into people2 values (?, ?)"
curData = [('A',1),('B',2),('C',3)]
cur.executemany(sql,curData)

OperationalError: no such table: people2

In [14]:
conn.commit()

In [11]:
cur.executescript(
"""
    create table person(
    first_name text primary key,
    last_name text not null
    );
    insert into person values('name','kim')
""")

OperationalError: table person already exists

In [24]:
print(cur.fetchone())

None

In [27]:
conn.execute('drop table people2')

In [7]:
cur.execute("select *from person")

In [8]:
for row in cur:
    print(row[0])

name

In [26]:
conn.executescript(
"""
    create table genre2(
        id integer not null primary key autoincrement unique,
        name text
        )
""")

In [6]:
conn.close()

In [29]:
conn.executescript(
"""
    create table Artist(
        id integer not null primary key autoincrement unique,
        name text
        );
    create table genre(
        id integer not null primary key autoincrement unique,
        name text
        );
    create table Album(
        id integer not null primary key autoincrement unique,
        title text,
        artist_id integer
        );
    create table Track(
        id integer not null primary key autoincrement unique,
        title text,
        length integer,
        rating integer,
        count integer,
        album_id integer,
        genre_id integer
        );
""")

In [30]:
conn.commit()

In [31]:
conn.executescript(
"""
    insert into Artist (name) values ('Led Zepplin');
    insert into Artist (name) values ('AC/DC');
    
    
    insert into genre (name) values ('Rock');
    insert into genre (name) values ('Metal');
    
    insert into Album (title, artist_id) values ('Who made Who',2);
    insert into Album (title, artist_id) values ('IV',1);
    
    insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297,0,2,1);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482,0,2,1);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313,0,1,1);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('Who Made Who', 5, 207,0,1,2);

    
""")

In [32]:
conn.executescript(
"""
    select Album.title, Artist.name
        from Album
            join Artist on
                Album.artist_id = Artist.id
    
""")

In [ ]:
conn.executescript(
"""
    select Album.title, Artist.name
        from Album
            join Artist on
                Album.artist_id = Artist.id
    
""")

In [34]:
import sqlalchemy

In [37]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///test2.db", echo =True)

In [38]:
print(engine)

Engine(sqlite:///test2.db)

In [39]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
             Column('id', Integer, primary_key = True),
             Column('name', String),
             Column('fullname', String)
             )
addresses = Table('addresses', metadata,
             Column('id', Integer, primary_key = True),
             Column('user_id', None, ForeignKey('users.id')),
             Column('email_address', String, nullable = False)
            )
metadata.create_all(engine)

2018-07-12 22:22:24,519 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-07-12 22:22:24,521 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,524 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-07-12 22:22:24,525 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,528 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2018-07-12 22:22:24,530 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,532 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2018-07-12 22:22:24,534 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,536 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2018-07-12 22:22:24,538 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,546 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-12 22:22:24,548 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2018-07-12 22:22:24,550 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-12 22:22:24,559 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT